body {
  background-image: url(imgs/background_decoration.svg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  font-family: 'Open Sans', sans-serif;
  margin: 0 5em;
  padding: 0;
}

:root {
  --blue: #181E4B;
  --dark_blue: #212832;
  --gray: #5E6282;
  --orange: #DF6951;
  --yellow: #F1A501;
  --white: #FFFFFF;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5em;
}

.menu_links {
  display: flex;
  list-style: none;
}

.menu_link {
  margin-right: 3em;
}

.menu_link_name {
  font-weight: bold;
  color: var(--dark_blue);
  text-decoration: none;
}

.link_border {
  border: 1px solid var(--dark_blue);
  padding: 0.5625em 1.3125em;
  border-radius: 0.3125em;
}

.menu_lang_button {
  background: none;
  color: var(--dark_blue);
  border: none;
  padding: 0;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}

.landing_page {
  display: flex;
  align-items: center;
}

.landing_page  div {
  width: 70%;
}

.landing_subtitle {
  color: var(--orange);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 4em 0 1em;
  padding: 0;
}

.landing_title {
  color: var(--blue);
  font-family: 'Volkhov', serif;
  font-weight: 900;
  font-size: 3.3em;
  margin: 0;
}

.landing_title_decoration {
  background-image: url(imgs/landing_page_decoration.svg);
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.landing_text {
  color: var(--gray);
  font-family: 'Poppins', sans-serif;
}

.landing_link {
  border-radius: 0.625em;
  color: var(--white);
  background: var(--yellow);
  text-decoration: none;
  padding: 1em 2em;
  font-size: 1.2em;
  margin-right: 2.5em;
}

.landing_footer {
  display: flex;
  margin-top: 2em;
  align-items: center;
}

.landing_button {
  filter: invert(49%) sepia(47%) saturate(1528%) hue-rotate(331deg) brightness(97%) contrast(80%);
  height: 52px;
  width: 52px;
}

.landing_button_text {
  color: var(--gray);
  font-family: 'Poppins', sans-serif;
  margin-left: 1em;
}

.landing_page_img {
  height: 50%;
  width: 50%;
  border-radius: 10em;
}

