body {
  background-image: url(imgs/background_decoration.svg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  font-family: 'Open Sans', sans-serif;
  margin: 0 5em;
  padding: 0;
}

:root {
  --blue: #181E4B;
  --dark_blue: #212832;
  --gray: #5E6282;
  --orange: #DF6951;
  --yellow: #F1A501;
  --white: #FFFFFF;
}

/* text_styles */

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  color: var(--gray);
}

/* header */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5em;
}

.menu_links {
  display: flex;
  list-style: none;
}

.menu_link {
  margin-right: 3em;
}

.menu_link_name {
  font-weight: bold;
  color: var(--dark_blue);
  text-decoration: none;
}

.link_border {
  border: 1px solid var(--dark_blue);
  padding: 0.5625em 1.3125em;
  border-radius: 0.3125em;
}

.menu_lang_button {
  background: none;
  color: var(--dark_blue);
  border: none;
  padding: 0;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}

/* main landing section */

.landing_page {
  display: flex;
  align-items: center;
}

.landing_page  div {
  width: 70%;
}

.landing_subtitle {
  color: var(--orange);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 4em 0 1em;
  padding: 0;
}

.landing_title {
  color: var(--blue);
  font-family: 'Volkhov', serif;
  font-weight: 900;
  margin: 0;
}

.landing_title_decoration {
  background-image: url(imgs/landing_page_decoration.svg);
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.landing_text {
  font-family: 'Poppins', sans-serif;
}

.landing_link {
  border-radius: 0.625em;
  color: var(--white);
  background: var(--yellow);
  text-decoration: none;
  padding: 1em 2em;
  font-size: 1.2em;
  margin-right: 2.5em;
}

.landing_footer {
  display: flex;
  margin-top: 2em;
  align-items: center;
}

.landing_button {
  filter: invert(49%) sepia(47%) saturate(1528%) hue-rotate(331deg) brightness(97%) contrast(80%);
  height: 52px;
  width: 52px;
}

.landing_button_text {
  color: var(--gray);
  font-family: 'Poppins', sans-serif;
  margin-left: 1em;
}

.landing_page_img {
  height: 50%;
  width: 50%;
  border-radius: 10em;
}

/* main categories section */

.categories {
  background-image: url(imgs/categories_decoration.svg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  margin-top: 12em;
  padding: 2em 0;
}

.categories_subtitle {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--gray);
  text-transform: uppercase;
}

.categories_title {
  text-align: center;
  font-family: 'Volkhov', serif;
  color: var(--blue);
  margin: .2em 0;
}

.categories_cards {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories_card {
  margin: 0 2em;
  text-align: center;
}

.categories_card_img {
  height: 8.125em;
  width: 8.125em;
}

.categories_card:nth-child(2) {
  position: relative;
  width: 250px;
}

.categories_card_elements_decoration {
  position: relative;
  background: var(--white);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
  0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
  0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
  0px 20px 13px rgba(0, 0, 0, 0.01), 
  0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
  0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  z-index: 99;
  border-radius: 2.25em;
  padding: 1.3em 0;
}

.categories_card_decoration {
  background: var(--orange);
  height: 6.25em;
  width: 6.25em;
  position: absolute;
  right: 11.875em;
  bottom: -1.25em;
  border-radius: 1.875em 0px 0.625em;
  z-index: 15;
}

.categories_card_title {
  color: var(--blue);
}

.categories_card_text {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* main destinations section */

.destinations {
  margin-top: 7em;
  margin-bottom: 20em;
}

.destinations_cards { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.destinations_card {
  position: relative;
  margin: 0 2em;
}

.destinations_card_img {
  object-fit: cover;
  object-position: bottom;
  height: 400px;
  width: 300px;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) 
  drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) 
  drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) 
  drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) 
  drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) 
  drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
}

.destinations_subtitle {
  color: var(--gray);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
}

.destinations_title {
  text-align: center;
  font-family: 'Volkhov', serif;
  color: var(--blue);
}

.destinations_card_elements {
  position: absolute;
  background: var(--white);
  width: 100%;
  bottom: 0;
  border-radius: 0px 0px 24px 24px;
}

.destinations_card_information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
  padding: 0;
}

.destinations_card_name {
  font-family: 'Poppins', sans-serif;
  color: var(--gray);
  margin: 1em 0 0;
}

.destinations_card_price {
  font-family: 'Poppins', sans-serif;
  color: var(--gray);
  margin: 1em 0 0;
}

.destinations_card_footer {
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.destinations_card_days {
  font-family: 'Poppins', sans-serif;
  margin-left: 1em;
}
